body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 18px 49px;

  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;

  background-color: #ED9AD7;

  border: none;
  border-radius: 14px;

  transition: 0.4s;

  &:hover {
    background-color: #dd7bc3;
  }
}

.btn-container {
  text-align: center;
}